SHOPIFY_API_KEY: 3004f03d545223dc034bdac0fb16eac9
SHOPIFY_API_SECRET: db8ab7a0d358d412754b1caceaf16988

TARGET_EXPORT_HOST: 217.5.201.146
TARGET_EXPORT_USERNAME: FeetUpSFTP
TARGET_EXPORT_PASSWORD: 12mvbdk5br8e
